<%= form_for @team, local: true, html: { multipart: true } do |f| %>

  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>
      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :team_name, class: "form-control"  %>
  </div>
  <div class="field form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
    <%= link_to 'Back', teams_path, class: "btn btn-default" %>
  </div>

<% end %>
