<%= form_for @all_bets, url: { action: "create_bets" }, html: { multipart: true } do |f| %>
  <div>
    <div class="user-bets">
      <%= f.submit 'Create Bets', class: 'btn btn-dark'%>
      <%= link_to 'Back', bets_path, class: 'btn btn-dark' %>
    </div>
    <div class="jumbotron" id="bet_border_title">
      <h2 id="bet_title">Missing bets of <br/><%= @all_bets.first.game.tournament.name %></h2>
    </div>
    <div id="bet-table" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Round</th>
            <th><strong>Tournament:</strong></th>
            <th colspan="2"><%= @all_bets.first.game.tournament.name %></th>
            <th>Date</th>
          </tr>
        </thead>
          <tbody>
            <% @all_bets.each do |bet| %>
              <tr>
                <%= fields_for 'bets[]', bet,  include_id: true do |b| %>
                  <%= b.hidden_field :game_id, value: bet.game_id %>
                  <%= b.hidden_field :first_team_id, value: bet.game.first_team.id %>
                  <%= b.hidden_field :second_team_id, value: bet.game.second_team_id %>
                    <td class="middle-align col-sm-1"><%= bet.game.round %></td>
                    <td class="col-sm-3"><%= image_tag bet.game.first_team.image, class: "#{bet.game.first_team.team_type}_team_image img-rounded", title: bet.game.first_team.name %></td>
                    <td class="middle-align col-sm-3 form-inline score-group"><%= b.number_field :first_team_score, in: 0..22, class: "form-control score_field" %> <strong> x </strong>
                      <%= b.number_field :second_team_score, in: 0..22,class: "form-control score_field" %> </td>
                    <td class="col-sm-3"><%= image_tag bet.game.second_team.image, class: "#{bet.game.second_team.team_type}_team_image img-rounded", title: bet.game.second_team.name %></td>
                    <td class="middle-align col-sm-2"><%= bet.game.date.strftime("%d/%m/%Y  %I:%M%P") %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
<% end %>
