
<div class="jumbotron">
<h2>All Tournaments</h1>
<p>Those are all tournaments availables in the system.
  <% if user_admin %>
    <%= link_to 'New Tournament', new_tournament_path, class: "btn btn-dark" %>
  <% end %>
</p>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <% @tournaments.each do |tournament| %>
        <tr class="tournament-vertical-align">
          <td>
            <figure>
              <%= link_to (image_tag tournament.image.url(:thumb), class: 'image'), games_per_tournament_path(tournament_id: tournament.id) %>
              <p><figcaption><%= tournament.name %></figcaption></p>
            </figure>
          </td>
          <td class="tournament-description"><%= tournament.description %></td>
          <td class="middle-align <%= tournament.charge.blank? ? 'not_payed' : 'payed' %>"><%= render "charges/new", tournament_id: "#{tournament.id}" %></td>
          </span>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
