<%= form_for @game, local: true, html: { multipart: true } do |f| %>

  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :tournament %>
    <%= f.text_field :tournament, readonly: true, value: @game.tournament.name, class: "form-control"  %>
    <%= f.hidden_field :tournament_id, value: @game.tournament.id %>
  </div>
  <div class="form-inline">
    <div class="field form-group">
      <%= f.label :first_team, id: "team_label" %>
      <%= f.select :first_team_id, @teams.collect {|team| [team.name, team.id]}, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.number_field :score_first_team, in: 0..20,  class: "form-control game_score_input", placeholder: "Score"%>
    </div>
  </div>
  <div class="form-inline">
    <div class="field form-group">
      <%= f.label :second_team%>
      <%= f.select :second_team_id, @teams.collect {|team| [team.name, team.id]}, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.number_field :score_second_team, in: 0..20, class: "form-control game_score_input", placeholder: "Score" %>
    </div>
  </div>
  <div class="field form-group">
    <div class='input-group date' id='game-calendar'>
      <%= f.text_field :date , class: "form-control", placeholder: "Date: (mm/dd/yyyy 00:00)", data: { datetime_format: "MM/DD/YYYY HH:MM"}, value: "#{@game.date.strftime("%m/%d/%Y %HH:%MM%p") unless @game.date.blank?}" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :round %>
    <%= f.number_field :round, value: @game.round , class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
    <%= link_to 'Back', games_per_tournament_path(tournament_id: @game.tournament.id), class: "btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  $(function () {
    $('#game-calendar').datetimepicker();
  });
</script>
