<div>
  <h1>All Games - <%= @games.first.tournament.name %>
  <% if user_admin %>
    <%= link_to 'New', new_game_path(tournament_id: @games.first.tournament_id), class: "btn btn-primary"%>
  <% end %>
  </h1>
  <% if @rounds %>
    <li class="dropdown bet-dropdown">
      <a href="#" class="dropdown-toggle btn-xs btn-primary" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Round<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <% @rounds.each do |round| %>
          <li><%= link_to "Round #{round}", games_round_path(tournament_id: params[:tournament_id], round: round)  %></li>
        <% end %>
      </ul>
    </li>
    <% if params[:round] %>
      <%= link_to 'Back', games_per_tournament_path(tournament_id: params[:tournament_id]), class: "btn-xs btn-primary", id: "back_button"%>
    <% end %>
  <% end %>
  <br />
</div>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><strong>Tournament:</strong></th>
          <th colspan="3"><%= @games.first.tournament.name %></th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each_with_index do |game, index| %>
          <tr>
            <th scope="row"><br/>Game #<%= index + 1 %><br/>Round: <%= game.round %></th>
            <td><%= image_tag game.first_team.image, class: "#{game.first_team.team_type}_team_image img-rounded", title: game.first_team.name %></td>
            <td class="middle-align">
              <% if !game.score_first_team.blank? &&  !game.score_second_team.blank?%>
                  <%= game.score_first_team %>
                  <strong>X</strong>
                  <%= game.score_second_team %>
                <% else %>
                  <strong> Waiting game </strong>
                <% end %>
            </td>
            <td><%= image_tag game.second_team.image, class: "#{game.first_team.team_type}_team_image img-rounded", title: game.second_team.name  %></td>
            <td class="middle-align"><%= game.date.strftime("%d/%m/%Y at %I:%M%p") %></td>
            <% if user_admin %>
              <td class="middle-align">
                <%= link_to 'Edit', edit_game_path(game) %>
                <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
