<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><strong>Tournament:</strong></th>
          <th colspan="3"><%= @games.first.tournament.name %></th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each_with_index do |game, index| %>
          <tr>
            <th scope="row"><br/>Game #<%= index + 1 %><br/>Round: <%= game.round %></th>
            <td><%= image_tag game.first_team.image, class: "#{game.first_team.team_type}_team_image img-rounded", title: game.first_team.name %></td>
            <td class="middle-align">
              <% if !game.score_first_team.blank? &&  !game.score_second_team.blank?%>
                  <%= game.score_first_team %>
                  <strong>X</strong>
                  <%= game.score_second_team %>
                <% else %>
                  <strong> Waiting game </strong>
                <% end %>
            </td>
            <td><%= image_tag game.second_team.image, class: "#{game.first_team.team_type}_team_image img-rounded", title: game.second_team.name  %></td>
            <td class="middle-align"><%= game.date.strftime("%d/%m/%Y at %I:%M %p") %></td>
            <% if user_admin %>
              <td class="middle-align">
                <%= link_to 'Edit', edit_game_path(game), class: "btn-sm btn-dark" %>
                <%= link_to 'Delete', game_path(game), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-dark" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
