<!DOCTYPE html>
<html>
  <head>
    <title>WorldCupBet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <% flash.each do |name, msg| %>
      <% flashClass = 'alert alert-info' %>
      <% if flash[:alert] %>
        <% flashClass = 'alert alert-danger' %>
      <% end %>
        <%= content_tag(:div, msg, class: flashClass) %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
